/* 메인 영역 */
main section {
    position: relative;
    min-height: 100dvh;
}
main section+section {
    background-color: #fff;
}
main .section-03 {
    background-color: #F8E5E3;
}
main section .inner {
    max-width: 1200px; 
    margin: 0 auto;
    padding-bottom: 180px;
}
.visual {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    z-index: -1;
}

/* 동영상 영역 */
.video-area {
    position: relative;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-primary);
}
video {
    height: 100%;
}

/* 흐르는 텍스트 영역 */
.loop-text {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    overflow: hidden;
}
.loop-text-inner {
    width: auto;
    display: flex;
    translate: 0%;    
    /* animation: textLoop 8s linear infinite; */
}
.loop-text-inner ul {
    flex: 1;
    display: flex;
}
.loop-text-inner ul li {
    flex: 1;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -0.1rem;
    color: var(--font-color-gray);
    white-space: nowrap;
    padding: 0 40px;
}
@keyframes textLoop{
    to{
        translate: -50%;
    }
}

.about-imgboxs {
    position: relative;
    width: 100vw;
    display: flex;
}

.about-textBox {
    position: absolute;
    bottom: 0;
}
/* 이미지박스 영역 */
.imgBox-01 {
    width: 282px;
    height: 282px;
    background: url(../images/product_img01.png);
    background-size: contain;
    margin-top: 320px;
    margin-right: 24px;
}
.imgBox-02 {
    width: 310px;
    height: 348px;
    background: url(../images/product_img02.png);
    background-size: 440px;
    background-position: 40% 0;
    margin-top: 360px;
    margin-right: 44px;
}
.imgBox-03 {
    width: 540px;
    height: 750px;
    background: url(../images/product_img03.png);
    background-position: 22% 80%;
    margin-top: 320px;
}

/* 하단 텍스트박스 영역 */
.textBox span {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.60rem;
    color:var(--font-color-primary);
}
.textBox h2 {
    margin-top: 8px;
    margin-left: -4px;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -0.1rem;  
    color: #1c1c1c;  
}
.textBox p {
    margin-top: 20px;
    color: #777;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: -0.1rem;
}
.moreBtn {
    position: relative;
    margin-top: 40px;
    padding: 20px 28px;    
    border: 1px solid #777;
    display: inline-block;
}
.moreBtn a {
    font-size:16px;
    font-weight: 300;
    color: #777;    
}
.moreBtn a img {
    padding-left: 60px;
}

/************************ 미디어쿼리 ************************/
@media all and (max-width:1200px){
        
}