.visual {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
/* 동영상 영역 */
.video-area {
    position: relative;
    width: 100%;
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color-primary);
}
video {
    height: 100%;
}