<main>
    <section class="section-01">
        <div class="visual">
            <div class="video-area">
                <video muted autoplay playsinline loop>
                    <source src="./video/video1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>
    <section class="section-02">
        <div class="inner">
            <div class="loop-text">
                <div class="loop-text-inner">
                    <ul>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                    </ul>
                    <ul>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                    </ul>
                </div>
            </div>
            <div class="about-imgboxs">
                <div class="imgBox imgBox-01"></div>
                <div class="imgBox imgBox-02"></div>
                <div class="imgBox imgBox-03"></div>
                <div class="about-textBox textBox">
                    <span>TIMELESS BEAUTY</span>
                    <h2>KOHONJIN</h2>
                    <p>시간의 흐름에도<br> 흔들리지 않는 아름다움</p>
                    <div class="moreBtn">자세히보기</div>
                </div>
            </div>
            
        </div>
    </section>
    <section class="section-03">
        section3
    </section>
    <section class="section-04">section4</section>
    <section class="section-05">section5</section>
    <section class="section-06">section6</section>
</main>