<main>
    <section>
        <div class="visual">
            <div class="video-area">
                <video muted autoplay playsinline loop>
                    <source src="./video/video1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </section>
    <section>
        <div class="inner">
            <div class="loop-text">
                <div class="loop-text-inner">
                    <ul>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                    </ul>
                    <ul>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                        <li>TIMELESS BEAUTY KOHONJIN</li>
                    </ul>
                </div>
            </div>
            <div class="imgBox imgBox-01"></div>
            <div class="imgBox imgBox-02"></div>
            <div class="imgBox imgBox-03"></div>
            <div class="textBox textBox-01">
                <span>TIMELESS BEAUTY</span>
                <h2>KOHONJIN</h2>
                <p>시간의 흐름에도<br> 흔들리지 않는 아름다움</p>
                <div class="moreBtn">자세히보기</div>
            </div>
        </div>
    </section>
    <section>section2</section>
    <section>section3</section>
    <section>section4</section>
</main>